```{=html}
<table class="quarto-listing-table table">
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>
            <td class="listing-url">
                <% if ( item.url ) { %>
                <span><a href="<%= item.url %>"><span class="bi bi-link"></span></a></span>            
                <% } %>
            </td>
            <td class="listing-title" style="min-width:450px;">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.description %>"><%= item.authors %>, <a href="<%= item.url %>" ><%= item.title %></a>, <%= item.venue %></span>
            </td>
            <td>
                <% if ( item.type == "conf" ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.type %>" style="background:darkorchid;"><%= item.type %></span>
                <% } %>
                <% if ( item.type == "journal" ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.type %>" style="background:olivedrab;"><%= item.type %></span>
                <% } %>
                <% if ( item.type == "preprint" ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.type %>" style="background:grey;"><%= item.type %></span>
                <% } %>  
            </td>
        </tr>
    <% } %>
</tbody>
</table>

```